@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
.search-image {
    background-image: url('../assets/serach.png');
    width: 100%;
    min-height: 30vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-container {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    font-size: 1rem;
    z-index: 2;
}

.search-input {
    border-radius: 20px !important;
    padding: 10px 20px 10px 40px;
}

.artical-search{
    font-size: 2.3rem;
    font-family: "Paytone One", sans-serif;
}

.search-icon{
    cursor: pointer !important;
}
.search-icon-symbol{
    color: #1f1fc05e;
}

@media (min-width:360px) and (max-width:768px){
    .artical-search{
        font-family: "Paytone One", sans-serif;
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {
    .search-image {
        min-height: 30vh;
        background-attachment: scroll; 
    }

}