.current-event-border{
    border-radius: 20px;
}
.date-month{
    line-height: 1;
}

.current-event-discription{
    width: 18vh;
    overflow-wrap: break-word;
    font-size: 0.6rem;
}

@media(max-width:398px) 
{
    .current-event-border{
        border-radius: 20px;
        font-size: 0.6rem !important;
    }
}

@media (min-width:991px) and (max-width:1160)
{
    .current-event-discription{
        width: 18vh;
        overflow-wrap: break-word;
        font-size: 0.6rem;
    }
    .current-event-title{
        font-size: 0.7rem;
    }
    .current-event-border{
        border-radius: 20px;
        font-size: 0.3rem;
    }
}