.artical-header{
    border: 0.01px solid #a0a0a04d;
    background-color: #a0a0a04d;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
}
.artical-image{
    height: 18vh;
    width: 29vh;
    border-radius: 10px !important;
}
.artical-title{
    font-size: 0.5rem;
    overflow-wrap: break-word;
    width: 28vh;
}
.artical-description{
    overflow-wrap: break-word;
    width: 28vh;
    font-size: 0.8rem;
    font-weight: 600;
}
.search-input{
    border-radius: 20px !important;
    padding: 10px 20px 10px 40px;
}
.quick-help{
    background-color: #a0a0a04d;
}
.quick-border{
    border-bottom: 1px solid black;
}
.left-right-icon{
    cursor: pointer;
}
.artical-border{
    padding: 1px;
    border-left: 5px solid #9ACD32 ;
}
.card-img-top{
    border-radius: 10px !important;
}
.carousel-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.carousel-container {
    display: flex;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    width: 100%;
    gap: 1rem;
}

.carousel-container > div {
    flex: 0 0 calc(25% - 1rem);
    box-sizing: border-box;
}

.carousel-button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    padding: 0 0.5rem;
    color: #333;
    transition: color 0.3s ease;
    z-index: 10;
}

.carousel-button:hover {
    color: #000;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.carousel-dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #717171;
}
.image-slider-container {
    margin: 0 auto;
    width: 40px;
  }
  
.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
    color: black;
}

@media (max-width: 768px) {
    .artical-header{
        font-size: 0.5rem;
    }
    .artical-image{
        height: 10vh;
        width: 15vh;
    }
    .artical-title{
        font-size: 0.4rem;
        width: 8vh;
        overflow-wrap: break-word;
    }
    .artical-description{
        font-size: 0.4rem;
        width: 8vh;
        overflow-wrap: break-word;
    }
}
